{% extends 'gestoin/main.html' %}
{% load static %}
{% block content %}
<style>
.profile-pic{

    max-width: 200px;
    max-height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}
card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background: #d8ffe8;}

</style>

    <div class="row">
	<div class="col-md-3">
		<div class="card card-body shadowbox">
            <a class="btn btn-warning" href="{% url 'home' %}">&#8592  Back to profile</a>
            <hr>
            <h3 style="text-align: center">Acount setting</h3>
            <hr>
            <img class="profile-pic" src="{{ request.user.employee.profile_pic.url }}">
        </div>
    </div>
    <div class="col-md-3">
		<div class="card card-body shadowbox">


            <form action="" method="POST" enctype="multipart/form-data">

				{% csrf_token %}
                    {{ form.as_p }}

				<input class="btn btn-info" type="submit" name="Confirm" value="Confirm">
			</form>
		</div>
	</div>
</div>


{% endblock %}