{% extends 'gestoin/main.html' %}

{% block content %}
    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2eedc
}

th {
  background-color: #fffab3;
  color: #000000;
}
    .blocktext1212 {
    margin-left: auto;
    margin-right: auto;
    width: 16em
}

</style>
    <br>
<br>
<div class="row">
	<div class="col">
		<div class="card card-body shadowbox">

			<form method="get">
				<h5>{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button></h5>
		  </form>

		</div>
	</div>

</div>
<br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body shadowbox">
					<h1 class="blocktext1212">Courriers</h1>
				</div>
				<div class="card card-body shadowbox">
					<table class="table">
						<tr>
							<th>Reference</th>
                            <th>Type</th>

                              <th>Nature</th>
                              <th>Categorier</th>
                             <th>date_created</th>
                              <th>pieacejoint </th>
                              <th>service </th>
                              <th>Departement </th>
                              <th></th>
                              <th></th>



						</tr>
                        {% for i in courriers %}
                             <tr>
                                <td>{{ i.reference }}</td>
                                <td>{{ i.nature}}</td>
                                <td>{{ i.objet}}</td>
                                <td>{{ i.category}}</td>
                                <td>{{ i.date_created }}</td>
                                <td>{{ i.pieacejoint }}</td>
                                <td>{{ i.service.name }}</td>
                                <td>{{ i.departement }}</td>
                              <td><a class="btn btn-info btn-sm btn-block"href="{% url 'updateCourrier' i.id%}">Update</a></td>
                            <td><a class="btn btn-danger btn-sm btn-block" href="{% url 'deleteCourrier' i.id %}">Delete</a></td>

                            </tr>



                        {% endfor %}

					</table>
				</div>
			</div>
			</div>

        <div>
         <div class="col-md">
		<div class="card card-body shadowbox">

				<a class="btn btn-primary  btn-sm btn-block" href="{% url 'formulaire' %}">Create Courrier</a>

		</div>
	</div>

		</div>
{% endblock content%}