{% extends 'gestoin/main.html' %}
{% load static %}
{% block content %}

 <div class="col-md-3" >
		<div class="card card-body shadowbox">

<form action="" method="post">{% csrf_token %}

      <h5>{{ fomr.as_p }}</h5>

     <input class="btn btn-outline-info" type="submit" name="Confirm" value="Ajouter">
    <a class="btn btn-outline-danger" href="{% url 'home'  %}">Cancel</a>
  </form>

        </div>
 </div>
{% endblock %}