{% extends 'gestoin/main.html' %}
<p1>dashbord</p1>
{% block content %}

{

      <br>

            {%  include 'gestoin/status.html' %}




   <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2eedc
}

th {
  background-color: #fffab3;
  color: #000000;
}
</style>
<div class="row">
	<div class="col-md-5">
		<h3>EMPLOYEES:</h3>
		<hr>
		<div class="card card-body shadowbox">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'createEmployee' %}">Create Employee</a>


            <table class="table table-sm">
				<tr>
					<th></th>

                    <th>Employee</th>
					<th>Phone</th>


				</tr>
                 {% for employee in employees %}
                            <tr>

</td>
                                <td><a class="btn btn-outline-dark   btn-sm btn-block"  href="{% url 'employee' employee.id %}">View</a></td>

                                <td>{{ employee.name}}</td>
                                <td>{{ employee.phone}}</td>
                            </tr>
                        {% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h3>LAST  ORDERS</h3>
		<hr>
		<div class="card card-body shadowbox">

			<table class="table table-sm">
				<tr>
					<th>Courrier</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Category</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
                    {% for order in orders %}
                            <tr>
                                <td>{{ order.courrier}}</td>
                                <td>{{ order.date_created}}</td>
                                <td>{{ order.status}}</td>
                                <td>{{ order.courrier.category}}</td>
                             <td><a class="btn btn-info btn-sm btn-block" href="{% url 'updateOrder' order.id%}">Update</a></td>
                            <td><a class="btn btn-danger btn-sm btn-block" href="{% url 'deleteOrder' order.id %}">Delete</a></td>
                            </tr>
                        {% endfor %}

			</table>
		</div>
	</div>

</div>
{% endblock %}