{% extends 'gestoin/main.html' %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-md-6">
		<div class="card card-body shadowbox">


			<p>Are you sure you want to delete Courrier : "{{item}}"?</p>
            <form action="{% url 'deleteCourrier' item.id   %}" method="POST">

				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'courrier' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>
{% endblock %}