{% extends 'gestoin/main.html' %}
<p1>employee</p1>
{% block content %}
    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2ecef
}

th {
  background-color: #64afa9;
  color: white;
}
   .profile-pic{

    max-width: 200px;
    max-height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}

</style>
    	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body shadowbox">
			<h5>Employee : {{ employees.name }}</h5>
			<hr>
			<a class="btn btn-outline-success  btn-sm btn-block" href="{% url 'updateEmployee' employees.id %}">Update Employee</a>
			<a class="btn btn-outline-info btn-sm btn-block" href="{% url 'createOrder' employees.id %}">Pleace Order</a>
            <a class="btn btn-outline-danger btn-sm btn-block" href="{% url 'deleteEmployee' employees.id %}">Delete Employee</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body shadowbox">
			<h5>Contact Information</h5>
			<hr>
             <div class="container">
    <div class="row">
        <div class="col-sm">
       <img class="profile-pic" src="{{ employees.profile_pic.url }}"  width="600" height="400">
    </div>
         <div class="col-sm">
             <br>
            <p>Email : {{ employees.email }}</p>
			<p>Phone : {{ employees.phone }}</p>
         </div>


  </div>
</div>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body shadowbox">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ total_orders }}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body shadowbox">

			<form method="get">
			    <h5>{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button></h5>
		  </form>

		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body shadowbox">
			<table class="table table-sm">
				<tr>
					<th>Courrier</th>
					<th>Categorier</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
                {% for order in orders%}
                    <tr>
                    <td> {{order.courrier}}</td>
                     <td> {{order.courrier.category}}</td>
                    <td> {{order.date_created}}</td>
                    <td> {{order.status}}</td>
                   <td><a class="btn btn-info btn-sm btn-block" href="{% url 'updateOrder' order.id%}">Update</a></td>
                        <td><a class="btn btn-danger btn-sm btn-block" href="{% url 'deleteOrder' order.id %}">Delete</a></td>
                    </tr>
                {% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}