<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {% load static %}
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>

    .main {
    background: #f5e7e7;
    padding: 20px 0;
}
    #messages{
			background-color: #800e0b;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
</style>
<body>

    <div class="main">


        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'image/signin-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'registerAccount' %}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign up</h2>

                            <form method="POST" action="">
                        {% csrf_token %}

                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input  input type="text" name="username" placeholder="Your Name"/>


                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password"/>

                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                                  <div class="form-group" style="background: rgba(250,10,23,0.78) ; border-radius: 15px">
                          {% for message in messages %}
          {{ message }}
      {% endfor %}
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                                <a class="btn btn-danger" href="{% url 'reset_password'  %}">Forget password</a>
                            </div>
                        </form>

                        <div class="social-login">

                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>


    <script src="{% static 'vendor/jquery/jquery.min.js' %}"   type="text/javascript"></script>
    <script src="{% static 'js/jss/main.js' %}"  type="text/javascript" ></script>
</body>
</html>
