<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion</title>
  {% load static %}
    <link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href=" {% static 'css/bootstrap.css' %}" rel="stylesheet">
    <style>
    #logo{
	}

	body{
		background-color: #ebeff5;

	}


	#total-orders{
		background-color: #4cb4c7;
	}

#total-pas{
		background-color: #46c0c7;
	}

	#orders-delivered{
		background-color: #7abecc;
	}

	#orders-pending{
		background-color: #7CD1C0;
	}
    .blocktext1212 {
    margin-left: auto;
    margin-right: auto;
    width: 16em
}
        .shadowbox {

  box-shadow: 8px 8px 5px #444;
}
        .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f1f9ed;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

</style>
</head>
<body>
{% include 'gestoin/navbar.html' %}

{% block content %}
{% endblock %}
<hr>
<footer><p class="blocktext1212">© 2020/2021 Younss Ait Abdelaali.</p></footer>



</body>
<script src="{% static 'js/slim.min.js' %}"   type="text/javascript"></script>
<script src="{% static 'js/popper.min.js' %}"   type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}"   type="text/javascript"></script>
</html>