{% load static %}
<style>
    .hello-msg{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <strong><i><a class="navbar-brand" href="{% url 'home' %}">BUREAU D'ORDER</a></i></strong>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
           {%if request.user.is_staff %}
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'courrier' %}">Courriers</a>
      </li>
    {% else %}
               <li class="nav-item">
        <a class="nav-link" href="{% url 'account' %}">Settings</a>
      </li>
{% endif %}
    </ul>
  </div>
    <span class="hello-msg">hello , {{ request.user }} ^_^ </span>
    <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
</nav>