{% extends 'gestoin/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
	<div class="col-md-6">
		<div class="card card-body shadowbox">
    <form action="" method="POST">
    {% csrf_token %}
   {{ form.management_form }}
       {% for field in form %}
<h5>{{ field.label }} </h5>
        {{ field }}
           <hr>
        {% endfor %}
    <input class="btn btn-outline-info"  type="submit" name="submit" value="Valider">
    <a class="btn btn-outline-danger" href="{% url 'home'  %}">Cancel</a>
    </form>

		</div>
	</div>
    </div>
{% endblock %}