<!DOCTYPE html>
<html lang="en">
<head>
	<title>Password</title>
	<meta charset="UTF-8">

    {% load static  %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'password/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'password/css/main.css' %}">
<!--===============================================================================================-->
</head>
<style>
  .a{
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #fff;
    margin-right: 45px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    background-color: #e6dada;
    border-radius: 27px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
</style>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form  method="post" class="login100-form validate-form flex-sb flex-w">
                    {% csrf_token %}
					<span class="login100-form-title p-b-32">
						Reset Password
					</span>
                    <span class="txt1 p-b-11">
                    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    </span>
					<span class="txt1 p-b-11">
						Email :
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
						{{form.email}}
						<span class="focus-input100"></span>
					</div>




					<div class="container-login100-form-btn">
						    <input class="btn btn-outline-success btn-sm btn-block"  type="submit" name="submit" value="Send">

                             <a class="btn btn-outline-secondary btn-sm btn-block" href="{% url 'login'  %}">Cancel</a>


					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'password/vendor/jquery/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/vendor/animsition/js/animsition.min.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/vendor/bootstrap/js/popper.js' %}" type="text/javascript"></script>
	<script src="{% static 'password/vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/vendor/select2/select2.min.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/vendor/daterangepicker/moment.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'password/vendor/daterangepicker/daterangepicker.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/vendor/countdowntime/countdowntime.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/js/main.js' %}" type="text/javascript"></script>

</body>
</html>