<!DOCTYPE html>
<html lang="en">
<head>
	<title>Password Reset</title>
	<meta charset="UTF-8">

    {% load static  %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'password/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'password/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'password/css/main.css' %}">
<!--===============================================================================================-->
</head>
<style>
    a {
    font-family: Raleway-Regular;
    font-size: 24px;
    line-height: 1.7;
    color: #f5ebeb;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
</style>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                    <span class="login100-form-title p-b-32">
						Password Reset Sent
					</span>
                    <span class="txt1 p-b-11">
<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    </span>
                <hr>
                <span class="txt1 p-b-11">
<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>



                    <div class="container-login100-form-btn">
						<button class="login100-form-btn">
							<a href="{% url 'login' %}">Back home</a>
						</button>
					</div>
                </span>

			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'password/vendor/jquery/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/vendor/animsition/js/animsition.min.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/vendor/bootstrap/js/popper.js' %}" type="text/javascript"></script>
	<script src="{% static 'password/vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/vendor/select2/select2.min.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/vendor/daterangepicker/moment.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'password/vendor/daterangepicker/daterangepicker.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/vendor/countdowntime/countdowntime.js' %}" type="text/javascript"></script>
<!--===============================================================================================-->
	<script src="{% static 'password/js/main.js' %}" type="text/javascript"></script>

</body>
</html>