<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    {% load static %}
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
    .main{
        background: #cdf1e2;
        padding: 30px 0;
    }
</style>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h3 class="form-title">REGISTRATION</h3>

                            <form method="POST" class="register-form" action="">
						{% csrf_token %}
                            <div class="form-group">

<label for="pass" class="label"> <i class="zmdi zmdi-account material-icons-name"> </i> Username </label><br><br>
                                {{form.username}}
                            </div>
                            <div class="form-group">
                               <label for="pass" class="label"> <i class="zmdi zmdi-email"></i> Email Address</label><br><br>
                                    {{form.email}}

                            </div>
                            <div class="form-group">
                                <label for="pass" class="label"> <i class="zmdi zmdi-lock"></i> Password </label><br><br>


                                    {{form.password1}}                            </div>
                            <div class="form-group">
                                <label for="pass" class="label"> <i class="zmdi zmdi-lock-outline"> </i> Repeat Password </label><br><br>

                                {{form.password2}}                            </div>
                            <div class="form-group" style="background: #ff9189 ; border-radius: 15px">
                                {{ form.errors }}
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>

                            </div>

                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'image/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'home' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>



    </div>


    <script src="{% static 'vendor/jquery/jquery.min.js' %}"   type="text/javascript"></script>
    <script src="{% static 'js/jss/main.js' %}"  type="text/javascript" ></script>

</body>
</html>
