
{% load static %}


<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
			  	</div>
			  	<div class="card-body shadowbox">
			    	<h3 class="card-title">{{ total_orders }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Traited</h5>
			  	</div>
			  	<div class="card-body shadowbox">
			    	<h3 class="card-title">{{ traiter }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Encore</h5>
			  	</div>
			  	<div class="card-body shadowbox">
			    	<h3 class="card-title">{{ encore }}</h3>
			  	</div>
			</div>
		</div>
	</div>





</div>
