{% extends 'gestoin/main.html' %}
{% load static %}
{% block content %}
    <title>Update Employee</title>
    <style>
    .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e4eef9;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
    </style>
    <div class="row">
	<div class="col-md-7">
		<div class="card card-body shadowbox">
    <form action="" method="POST">
    {% csrf_token %}
   {{ form.management_form }}
       {% for field in form %}

           <h5>{{ field.label }} :</h5>
        {{ field }}
           <hr>
        {% endfor %}
    <input class="btn btn-outline-info"  type="submit" name="submit" value="Valider">
    <a class="btn btn-outline-danger" href="{% url 'home'  %}">Cancel</a>
    </form>

		</div>
	</div>
    </div>
{% endblock %}