{% extends 'gestoin/main.html' %}
{% block content %}
    {% include 'gestoin/status.html' %}
     <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2ecef
}

th {
  background-color: #64afa9;
  color: white;
}
</style>
   <div class="row">
	<div class="col-md">
		<div class="card card-body shadowbox">
			<table class="table table-sm">
				<tr>
					<th>Courrier</th>
					<th>Categorier</th>
					<th>Date Orderd</th>
					<th>Status</th>

				</tr>
                {% for order in orders%}
                    <tr>
                    <td> {{order.courrier}}</td>
                     <td> {{order.courrier.category}}</td>
                    <td> {{order.date_created}}</td>
                    <td> {{order.status}}</td>

                {% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock%}