<!DOCTYPE html>
<html>
<head>
     {% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Gestion</title>
<!--

Template 2102 Constructive

http://www.tooplate.com/view/2102-constructive

-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
	<link rel="stylesheet" href="{% static 'web/css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/magnific-popup.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'web/slick/slick.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'web/slick/slick-theme.css' %}"/>
	<link rel="stylesheet" href="{% static 'web/css/tooplate-style.css' %}">

	<script>
		var renderPage = true;

	if(navigator.userAgent.indexOf('MSIE')!==-1
		|| navigator.appVersion.indexOf('Trident/') > 0){
   		/* Microsoft Internet Explorer detected in. */
   		alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
   		renderPage = false;
	}
	</script>
</head>

<body>
	<!-- Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>

	<!-- Page Content -->
	<div class="container-fluid tm-main">
		<div class="row tm-main-row">

			<!-- Sidebar -->
			<div id="tmSideBar" class="col-xl-3 col-lg-4 col-md-12 col-sm-12 sidebar">

				<button id="tmMainNavToggle" class="menu-icon">&#9776;</button>

				<div class="inner">
					<nav id="tmMainNav" class="tm-main-nav">
						<ul>

							<li>
								<a href="#intro" id="tmNavLink1" class="scrolly active" data-bg-img="constructive_bg_01.jpg" data-page="#tm-section-1">
									<i class="fas fa-home tm-nav-fa-icon"></i>
									<span>Introduction</span>
								</a>
							</li>

							<li>
								<a href="#products" id="tmNavLink2" class="scrolly" data-bg-img="constructive_bg_02.jpg" data-page="#tm-section-2" data-page-type="carousel">
									<i class="fas fa-map tm-nav-fa-icon"></i>
									<span>Courriers</span>
								</a>
							</li>
							<li>
								<a href="#company" class="scrolly" data-bg-img="constructive_bg_03.jpg" data-page="#tm-section-3">
									<i class="fas fa-users tm-nav-fa-icon"></i>
									<span>Statistics </span>
								</a>
							</li>
							<li>
								<a href="#contact" class="scrolly" data-bg-img="constructive_bg_04.jpg" data-page="#tm-section-4">
									<i class="fas  fa-cog fa-fw tm-nav-fa-icon"></i>
									<span>Account setting</span>
								</a>
							</li>

						</ul>
					</nav>
				</div>
			</div>

			<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 tm-content">

					<!-- section 1 -->
					<section id="tm-section-1" class="tm-section">
						<div class="ml-auto">
							<header class="mb-4"><h1 class="tm-text-shadow">Ecole Marocaine des Sciences de l'Ingénieur</h1></header>
                            <p class="mb-5 tm-font-big">Hello , {{ request.user }} </p>
							<p class="mb-5 tm-font-big"> Fondée en 1986, l’Ecole Marocaine des Sciences de l’Ingénieur, EMSI, est la principale école d’ingénierie privée pluridisciplinaire au Maroc reconnue par l’Etat et est membre du réseau Honoris United Universities, 1er réseau panafricain d’enseignement supérieur privé.</p>
							<p class="mb-5 tm-font-big">Le Groupe EMSI compte 4 écoles à travers le royaume, à Casablanca, Rabat et Marrakech et Tanger. L’EMSI a également développé un réseau de partenaires dont des entreprises de renom afin de faciliter l’insertion professionnelle de ses lauréats.</p>
							<p class="mb-5 tm-font-big">Il est à signaler que dans le cadre de la recherche scientifique, l’EMSI a conçu et développé 3 laboratoires de recherche dans les domaines de la recherche scientifique académique, l’innovation et l’invention. Les laboratoires SMARTiLab et LPRI de l’Ecole Marocaine des Sciences de l’Ingénieur ont reçu plus de 70 distinctions et médailles dans plusieurs pays dont : les USA, la Chine, le Canada, la Suisse, la Corée, la Malaisie, la Turquie, la Russie, l’Espagne… Où l’EMSI a représenté dignement le Maroc ce qui a été vivement salué par ses pairs et l’ensemble de la communauté scientifique.</p>
							<a href="{% url 'logout' %}" class="btn tm-btn tm-font-big" >Logout...</a>
							<!-- data-nav-link holds the ID of nav item, which means this link should behave the same as that nav item  -->
						</div>
					</section>

					<!-- section 2 -->
					<section id="tm-section-2" class="tm-section tm-section-carousel">
						<div>
							<header class="mb-4"><h2 class="tm-text-shadow">Courriers</h2></header>
							<div class="tm-img-container">

                                    	<table class="table ">
				<tr>
					<th>Courrier</th>
					<th>Categorier</th>
					<th>Date Orderd</th>
					<th>Status</th>

				</tr>
                {% for order in orders%}
                    <tr>
                    <td> {{order.courrier}}</td>
                     <td> {{order.courrier.category}}</td>
                    <td> {{order.date_created}}</td>
                    <td> {{order.status}}</td>

                {% endfor %}

			</table>
								</div>
							</div>

					</section>

					<!-- section 3 -->
					<section id="tm-section-3" class="tm-section">
						<div class="row mb-4">
							<header class="col-xl-12"><h2 class="tm-text-shadow">Statistics</h2></header>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<i class="fab fa-apple tm-icon-circled tm-icon-media"></i>
									<div class="media-body">
										<h5>Total order</h5>
                                        <hr>
										<p>{{ total_orders }}</p>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<i class="fas fa-map-pin mr-4 tm-icon-circled tm-icon-media"></i>
									<div class="media-body">
										<h5>Orders Traited</h5>
                                        <hr>
										<p> {{ traiter }} </p>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<i class="fab fa-fly mr-4 tm-icon-circled tm-icon-media"></i>
									<div class="media-body">
										<h5> Orders Encore </h5>
                                        <hr>
										<p>{{ encore }}</p>
									</div>
								</div>
							</div>

						</div>
					</section>

					<!-- section 4 -->
					<section id="tm-section-4" class="tm-section">
						<div class="tm-bg-transparent-black tm-contact-box-pad">
							<div class="row ">
								<div class="col-md">
									<header><h2 class="tm-text-shadow">Setting</h2></header>
								</div>
							</div>


									 <div class="row">
	<div class="col-md">
		<div class="card card-body shadowbox ">
            <a class="btn btn-warning" href="{% url 'test' %}">&#8592  Back to profile</a>
            <hr>
            <h3 style="text-align: center;color: #0a0a0a">Acount setting</h3>
            <hr>
            <img class="profile-pic" src="{{ request.user.prof.profile_pic.url }}">
        </div>
    </div>
    <div class="col-md">
		<div class="card card-body shadowbox " style="color: #0a0a0a">


            <form action="" method="POST" enctype="multipart/form-data">

				{% csrf_token %}
                    {{ form.as_p }}

				<input class="btn btn-info" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

								</div>

					</section>
				</div>	<!-- .tm-content -->

			</div>	<!-- row -->
		</div>
		<div id="preload-01"></div>
		<div id="preload-02"></div>
		<div id="preload-03"></div>
		<div id="preload-04"></div>

		<script type="text/javascript" src="{% static 'web/js/jquery-3.2.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'web/js/jquery.magnific-popup.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'web/js/jquery.backstretch.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'web/slick/slick.min.js' %}"></script> <!-- Slick Carousel -->

		<script>

		var sidebarVisible = false;
		var currentPageID = "#tm-section-1";

		// Setup Carousel
		function setupCarousel() {

			// If current page isn't Carousel page, don't do anything.
			if($('#tm-section-2').css('display') == "none") {
			}
			else {	// If current page is Carousel page, set up the Carousel.

				var slider = $('.tm-img-slider');
				var windowWidth = $(window).width();

				if (slider.hasClass('slick-initialized')) {
					slider.slick('destroy');
				}

				if(windowWidth < 640) {
					slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 1,
	              		slidesToScroll: 1
	              	});
				}
				else if(windowWidth < 992) {
					slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 2,
	              		slidesToScroll: 1
	              	});
				}
				else {
					// Slick carousel
	              	slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 3,
	              		slidesToScroll: 2
	              	});
				}

				// Init Magnific Popup
				$('.tm-img-slider').magnificPopup({
				  delegate: 'a', // child items selector, by clicking on it popup will open
				  type: 'image',
				  gallery: {enabled:true}
				  // other options
				});
      		}
  		}

  		// Setup Nav
  		function setupNav() {
  			// Add Event Listener to each Nav item
	     	$(".tm-main-nav a").click(function(e){
	     		e.preventDefault();

		    	var currentNavItem = $(this);
		    	changePage(currentNavItem);

		    	setupCarousel();
		    	setupFooter();

		    	// Hide the nav on mobile
		    	$("#tmSideBar").removeClass("show");
		    });
  		}

  		function changePage(currentNavItem) {
  			// Update Nav items
  			$(".tm-main-nav a").removeClass("active");
     		currentNavItem.addClass("active");

	    	$(currentPageID).hide();

	    	// Show current page
	    	currentPageID = currentNavItem.data("page");
	    	$(currentPageID).fadeIn(1000);

	    	// Change background image
	    	var bgImg = currentNavItem.data("bgImg");
	    	$.backstretch("img/" + bgImg);
  		}

  		// Setup Nav Toggle Button
  		function setupNavToggle() {

			$("#tmMainNavToggle").on("click", function(){
				$(".sidebar").toggleClass("show");
			});
  		}

  		// If there is enough room, stick the footer at the bottom of page content.
  		// If not, place it after the page content
  		function setupFooter() {

  			var padding = 100;
  			var footerPadding = 40;
  			var mainContent = $("section"+currentPageID);
  			var mainContentHeight = mainContent.outerHeight(true);
  			var footer = $(".footer-link");
  			var footerHeight = footer.outerHeight(true);
  			var totalPageHeight = mainContentHeight + footerHeight + footerPadding + padding;
  			var windowHeight = $(window).height();

  			if(totalPageHeight > windowHeight){
  				$(".tm-content").css("margin-bottom", footerHeight + footerPadding + "px");
  				footer.css("bottom", footerHeight + "px");
  			}
  			else {
  				$(".tm-content").css("margin-bottom", "0");
  				footer.css("bottom", "20px");
  			}
  		}

  		// Everything is loaded including images.
      	$(window).on("load", function(){

      		// Render the page on modern browser only.
      		if(renderPage) {
				// Remove loader
		      	$('body').addClass('loaded');

		      	// Page transition
		      	var allPages = $(".tm-section");

		      	// Handle click of "Continue", which changes to next page
		      	// The link contains data-nav-link attribute, which holds the nav item ID
		      	// Nav item ID is then used to access and trigger click on the corresponding nav item
		      	var linkToAnotherPage = $("a.tm-btn[data-nav-link]");

			    if(linkToAnotherPage != null) {

			    	linkToAnotherPage.on("click", function(){
			    		var navItemToHighlight = linkToAnotherPage.data("navLink");
			    		$("a" + navItemToHighlight).click();
			    	});
			    }

		      	// Hide all pages
		      	allPages.hide();

		      	$("#tm-section-1").fadeIn();

		     	// Set up background first page
		     	var bgImg = $("#tmNavLink1").data("bgImg");

		     	$.backstretch("img/" + bgImg, {fade: 500});

		     	// Setup Carousel, Nav, and Nav Toggle
			    setupCarousel();
			    setupNav();
			    setupNavToggle();
			    setupFooter();

			    // Resize Carousel upon window resize
			    $(window).resize(function() {
			    	setupCarousel();
			    	setupFooter();
			    });
      		}
		});

		</script>
	</body>
</html>